<div class = "col-sm-12 alternate">
  <hr>
  <h2>Settings: Timing</h2>
  <h3>Cutoff Times for Checking In</h3>
  <p>First cutoff time (turns <span class="color-orange">orange</span> after this): <input type="number" name="checkInCutoff1" ng-model="timeTiersCheckIn[0]"
       min="0">[seconds]</p>
  <p>Second cutoff time (turns <span class="color-red">red</span> after this): <input type="number" name="checkInCutoff2" ng-model="timeTiersCheckIn[1]"
      min="0">[seconds]</p>

  <h3>Cutoff Times for Being In Fire</h3>
  <p>First cutoff time (turns <span class="color-orange">orange</span> after this): <input type="number" name="inFireCutoff1" ng-model="timeTiersInFire[0]"
       min="0">[seconds]</p>
  <p>Second cutoff time (turns <span class="color-red">red</span> after this): <input type="number" name="inFireCutoff2" ng-model="timeTiersInFire[1]"
      min="0">[seconds]</p>
</div>
