<!DOCTYPE html>
<html lang="en-CA" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP MOBILE TAG -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PROTOYPE_03</title>

    <!-- ANGULAR IMPORT -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- BOOTSTRAP IMPORTS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="main.css">

  </head>
  <body>

    <div class = "container" ng-app="app" ng-controller="control">
    <div class="jumbotron">
    <h1>Entry Control Board v3.3</h1>
    <p>A solid, working version of a single-view entry control board (ECB).</p>
    </div>
    <p>This builds on v3.2 by implementing the following features and designs:
      <ul>
        <li>(done)Timing for how long firefighting teams have been in the fire.</li>
        <li>(done)Whiting out for firefighting teams who are not currently engaged in the fire.</li>
        <li>(removed)Sorting non-engaged firefighting teams to the bottom of the list.</li>
        <li>(done)Functionality for adding and subtracting firefighting teams.</li>
        <li>(done)Functionality for changing order of firefighting teams in table.</li>
        <li>(done)Contrast ratio testing.</li>
        <li>(done)16px+ fonts</li>
        <li>(removed)40x40pt alerts</li>
      </ul>
    </p>

    <p>From previous versions, this includes the following features.
    <ol>
    <li>Table-based representation for the firefighting teams (hard-coded teams).</li>
    <li>Dropdown for each team for where they are, what their assignment is (hard-coded assignments).</li>
    <li>Dropdown for location (hard-coded locations).</li>
    <li>Check-in timing and custom color coding based on those times.</li>
    </ol>
    </p>

    <div class = "col-sm-12">
      <table class = "table">
      <thead>
      <tr class = "top">
        <th>Team ID</th>
        <th>Time In Fire</th>
        <th>Time Since Last Check</th>
        <th>Location</th>
        <th>Assignment</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat = "firefighter in firefighters">
        <th>{{firefighter.name}} <button ng-click="checkInOrOut(firefighter)">{{getSignInOutText(firefighter)}}</button>
        </th>
        <td ng-class = "{'color-red': getColorInFire(firefighter)==='Red', 'color-orange': getColorInFire(firefighter)==='Orange'}">
          {{getTimeInFire(firefighter) | date:'mm:ss'}}
        </td>
        <td ng-class = "{'color-red': getColorCheckIn(firefighter)==='Red', 'color-orange': getColorCheckIn(firefighter)==='Orange'}">
          {{getTimeSinceCheckIn(firefighter) | date:'mm:ss'}}
          <button ng-click="firefighter.lastCheckIn = now" ng-hide = "firefighter.lastCheckIn === false">Check!</button>
        </td>
        <!-- <td>{{locations[firefighter.location]}}</td> -->
        <td>
          <select class = "c_select" ng-change="changedBox" ng-model="firefighter.location" ng-options="location for location in locations"></select>
        </td>
        <!-- <td>{{assignments[firefighter.assignment] }}</td> -->
        <td>
          <select class = "c_select" ng-change="changedBox" ng-model="firefighter.assignment" ng-options="assignment for assignment in assignments"></select>
        </td>
      </tr>
      </tbody>
      </table>
    </div>

    <div class = "col-sm-12 alternate">
      <hr>
      <h2>Settings: Teams</h2>
      <table class = "table">
        <thead>
          <!-- See if this should be populated later -->
          <th>Team ID</th>
        </thead>
        <tbody>
          <tr ng-repeat = "(i, firefighter) in firefighters">
            <th>{{firefighter.name}}</th>
            <td>
              <button ng-click = "deleteFirefighter(firefighters, i)">Delete Team</button>
            </td>
            <td>
              <button ng-click = "moveUp(i)" ng-show="i != 0">Up</button>
            </td>
            <td>
              <button ng-click = "moveDown(i)" ng-show="i != firefighters.length-1">Down</button>
            </td>
          </tr>
          <tr>
            <th>Add Team:</th>
            <td>ID: <input type = "text" ng-model="addTeamName"></input>
              <button ng-show="isValidName(addTeamName)" ng-click="addTeam(addTeamName)" class="bg-success">Add Team</button>
              <button ng-show="!isValidName(addTeamName)" class="bg-warning">Invalid ID</button>
            </td>
            <!-- <td>
              <p ng-show="!isValidName(addTeamName)" class="bg-warning">(ID Invalid)</p>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <div class = "col-sm-12">
      <hr>
      <h2>Settings: Locations</h2>
      <table class = "table">
        <thead>
          <!-- See if this should be populated later -->
          <th>Location Name</th>
        </thead>
        <tbody>
          <tr ng-repeat = "(i, location) in locations" ng-show = "i != 0">
            <th>{{location}}</th>
            <td>
              <button ng-click = "locations.splice(i, 1)">Delete Location</button>
            </td>
          </tr>
          <tr>
            <th>Add Location:</th>
            <td>Name: <input type = "text" ng-model="addLocation"></input>
              <button ng-show="locations.indexOf(addLocation.toUpperCase()) === -1 && addLocation != ''" ng-click="locations.push(addLocation.toUpperCase())" class="bg-success">Add Location</button>
              <button ng-show="locations.indexOf(addLocation.toUpperCase()) != -1 || addLocation === ''" class="bg-warning">Invalid Name</button>
            </td>
            <!-- <td>
              <p ng-show="!isValidName(addTeamName)" class="bg-warning">(ID Invalid)</p>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <div class = "col-sm-12 alternate">
      <hr>
      <h2>Settings: Timing</h2>
      <h3>Cutoff Times for Checking In</h3>
      <p>First cutoff time (turns <span class="color-orange">orange</span> after this): <input type="number" name="checkInCutoff1" ng-model="timeTiersCheckIn[0]"
           min="0">[seconds]</p>
      <p>Second cutoff time (turns <span class="color-red">red</span> after this): <input type="number" name="checkInCutoff2" ng-model="timeTiersCheckIn[1]"
          min="0">[seconds]</p>

      <h3>Cutoff Times for Being In Fire</h3>
      <p>First cutoff time (turns <span class="color-orange">orange</span> after this): <input type="number" name="inFireCutoff1" ng-model="timeTiersInFire[0]"
           min="0">[seconds]</p>
      <p>Second cutoff time (turns <span class="color-red">red</span> after this): <input type="number" name="inFireCutoff2" ng-model="timeTiersInFire[1]"
          min="0">[seconds]</p>
    </div>


    </div>

    <script src="app.js"></script>
    <script src="control.js"></script>

  </body>
</html>
